*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}
.bg {
    position:absolute; 
    top: 0; 
    left: 0; 
    margin: 0%;
    /* Preserve aspet ratio */
    min-width: 100%;
    max-height: 100%;
  }

/*This CSS code is defining the styles for a container that holds text*/
.text-container {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 28rem;
    top: 10rem;
    font-size: 40px;
}
.text-container h1{
    font-size: 40px;
}
.wrapper{
    width: 450px;
    background-color: #cdc8c8;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 45%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color: #3164ff;
}

@media screen and (max-width: 1024px) {
    .bg {
        
        width: 100%;
        height: 100%;  
      }
      .text-container {
        position: absolute;
        color: rgb(255, 255, 255);
        left: 210px;
        top: 650px;
        font-size: 40px;
    }
}
